{% extends 'base_template.html' %}
{%load static%}
{% block title %}
<title> contacto </title>
{% endblock%}


{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
        <h2>Contactanos</h2>
        <div class="breadcrumb__option">
        <a href="{% url 'home' %}">Home</a>
        <span>Contactanos</span>
        </div>
        </div>
        </div>
        </div>
    </div>
</section>


<section class="contact spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 text-center">
<div class="contact__widget">
<span class="icon_phone"></span>
<h4>Teléfono</h4>
<p>+57- 325 7500</p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 text-center">
<div class="contact__widget">
<span class="icon_pin_alt"></span>
<h4>Dirección</h4>
<p>CALLE 74 # 14-14</p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 text-center">
<div class="contact__widget">
<span class="icon_clock_alt"></span>
<h4>horario</h4>
<p>10:00 am a 23:00 pm L-S</p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 text-center">
<div class="contact__widget">
<span class="icon_mail_alt"></span>
<h4>Email</h4>
<p>hello@tiendavirtual.com</p>
</div>
</div>
</div>
</div>
</section>

<div class="map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6244887558755!2d-74.06188288538542!3d4.6608624966143655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5bf91853c3%3A0xcb5d4920472b643d!2sCl.%2074%20%2314-14%2C%20Comuna%20Chapinero%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1610347963686!5m2!1ses!2sco" width="600" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<div class="map-inside">
<i class="icon_pin"></i>
<div class="inside-widget">
<h4>Bogotá</h4>
<ul>
<li>Phone: +57  325 7500</li>
<li>Add: CALLE 74 # 14-14</li>
</ul>
</div>
</div>
</div>

<div class="contact-form spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="contact__form__title">
<h2>Déjanos un mensaje</h2>
</div>
</div>
</div>
<form action="#">
<div class="row">
<div class="col-lg-6 col-md-6">
<input type="text" placeholder="Tú nombrre">
</div>
<div class="col-lg-6 col-md-6">
<input type="text" placeholder="Tú email">
</div>
<div class="col-lg-12 text-center">
<textarea placeholder="Tú mensaje"></textarea>
<button type="submit" class="site-btn">Enviar Mensaje</button>
</div>
</div>
</form>
</div>
</div>

{% endblock%}